<jnlp spec="1.0+" codebase="$$codebase" href="$$name">
	<information>
		<title>WebScarab-NG</title>
		<description>An advanced web application proxy</description>
		<description kind="tooltip">WebScarab-NG</description>
		<homepage href="http://www.owasp.org/index.php/OWASP_WebScarab_Project" />
		<vendor>OWASP</vendor>
		<icon kind="splash" href="splashscreen.gif"/>
		<icon href="webscarab_logo.gif" width="64" height="64" />

		<offline-allowed/>
		<!-- hints for setting up shortcuts -->
		<!-- Prefer a shortcut for online operation -->
		<shortcut online="true">
			<!-- create desktop shortcut -->
			<desktop/>
			<!-- create menu item for this app under the major heading WebScarab -->
			<menu submenu="WebScarab-NG"/>
		</shortcut>

	</information>
	<security>
		<all-permissions/>
	</security>
	<resources>
		<property name="com.apple.macos.useScreenMenuBar" value="true"/>
		<property name="apple.laf.useScreenMenuBar" value="true"/>
		<property name="com.apple.mrj.application.apple.menu.about.name" value="WebScarab"/>
		<j2se version="1.5+" max-heap-size="128m" />
		$dependencies
		<extension name="Java Help" href="lib/jhelp.jnlp"/>
	</resources>
	<application-desc main-class="$mainClass" />
</jnlp>
